In [5]:
import pandas as pd
import numpy as np

In [10]:
s =pd.Series(np.random.randn(5))
s

0    2.081843
1   -1.921516
2    1.115009
3   -0.639114
4   -0.236814
dtype: float64

In [11]:
#define with index

In [12]:
index_s = ["a","b","c","d","e"]
s =pd.Series(np.random.randn(5),index=index_s)

In [15]:
#accsee ondex value

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
#series to dictionary

In [35]:
values = {
    "name":"nahian",
    "class":10,
    "city":"comilla",
    "div":"comilla"
}
values_seris= pd.Series(values)

In [21]:
values_seris

name      nahian
class         10
city     comilla
div      comilla
dtype: object

In [33]:
dict_list = {
    "name":["a","b","c","d"],
    "class":[10,11,5,7],
    "city":["comilla","Dhaka","Chadpur"],
    "div":"comilla"
}

dict_list_series= pd.Series(dict_list)

In [34]:
dict_list_series

name                  [a, b, c, d]
class               [10, 11, 5, 7]
city     [comilla, Dhaka, Chadpur]
div                        comilla
dtype: object

In [36]:
#When index amout is change

In [38]:
d= {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [39]:
pd.Series(d,index = ["a","b","c","d","e"])
#extra "d","e" index added , value is showing NaN

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64

In [ ]:
#same value with diffrent index

In [44]:
d = pd.Series(5.0)
d

0    5.0
dtype: float64

In [46]:
#lets define index
d = pd.Series(5.0,index = ["a","b","c"])
d

a    5.0
b    5.0
c    5.0
dtype: float64

In [47]:
#series acts as numpy array

In [50]:
index_s = ["a","b","c","d","e"]
s =pd.Series(np.random.randn(5),index=index_s)
s

a    2.232061
b    0.311909
c    0.517492
d    0.182050
e   -2.712826
dtype: float64

In [64]:
print(s[0])
print("-----")
print(s[0:4])
print("-----")
print(s[:4])

2.2320605140863576
-----
a    2.232061
b    0.311909
c    0.517492
d    0.182050
dtype: float64
-----
a    2.232061
b    0.311909
c    0.517492
d    0.182050
dtype: float64

In [68]:
s.mean()

0.10613715313674418

In [70]:
s[s>s.median()]

a    2.232061
c    0.517492
dtype: float64

In [73]:
s_array =np.array(s)

In [74]:
s_array

array([ 2.23206051,  0.31190865,  0.5174924 ,  0.18205016, -2.71282595])

In [80]:
s["a"]+s["b"]

2.5439691611739668

In [81]:
#change values

In [83]:
s["a"]=.007

In [86]:
#check current "rendom index" abalible on series

In [87]:
"f" in s

False

In [88]:
"a" in s

True

In [91]:
s.get('f',np.nan)

nan

In [99]:
print("--------")
print(s[:])
print("--------")
print(s[1:])
print("--------")
print(s[:2])

--------
a    0.007000
b    0.311909
c    0.517492
d    0.182050
e   -2.712826
dtype: float64
--------
b    0.311909
c    0.517492
d    0.182050
e   -2.712826
dtype: float64
--------
a    0.007000
b    0.311909
dtype: float64