In [5]:
import pandas as pd
import numpy as np

In [10]:
s =pd.Series(np.random.randn(5))
s

0    2.081843
1   -1.921516
2    1.115009
3   -0.639114
4   -0.236814
dtype: float64

In [11]:
#define with index

In [12]:
index_s = ["a","b","c","d","e"]
s =pd.Series(np.random.randn(5),index=index_s)

In [15]:
#accsee ondex value

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
#series to dictionary

In [35]:
values = {
    "name":"nahian",
    "class":10,
    "city":"comilla",
    "div":"comilla"
}
values_seris= pd.Series(values)

In [21]:
values_seris

name      nahian
class         10
city     comilla
div      comilla
dtype: object

In [33]:
dict_list = {
    "name":["a","b","c","d"],
    "class":[10,11,5,7],
    "city":["comilla","Dhaka","Chadpur"],
    "div":"comilla"
}

dict_list_series= pd.Series(dict_list)

In [34]:
dict_list_series

name                  [a, b, c, d]
class               [10, 11, 5, 7]
city     [comilla, Dhaka, Chadpur]
div                        comilla
dtype: object

In [36]:
#When index amout is change

In [38]:
d= {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [39]:
pd.Series(d,index = ["a","b","c","d","e"])
#extra "d","e" index added , value is showing NaN

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64

In [ ]:
#same value with diffrent index

In [44]:
d = pd.Series(5.0)
d

0    5.0
dtype: float64

In [46]:
#lets define index
d = pd.Series(5.0,index = ["a","b","c"])
d

a    5.0
b    5.0
c    5.0
dtype: float64