In [1]:
import pandas as pd
import numpy as np

# Series(value,index)
## values like dict/ list
## index wil define as defule
### index can change using list values
## Series opeation can perform as numpy array

In [2]:
s =pd.Series(np.random.randn(5))
s

0    0.426946
1    2.505446
2   -0.156659
3   -0.242134
4    1.951953
dtype: float64

In [3]:
#define with index

In [4]:
index_s = ["a","b","c","d","e"]
s =pd.Series(np.random.randn(5),index=index_s)

In [5]:
#accsee ondex value

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
#series to dictionary

In [8]:
values = {
    "name":"nahian",
    "class":10,
    "city":"comilla",
    "div":"comilla"
}
values_seris= pd.Series(values)

In [9]:
values_seris

name      nahian
class         10
city     comilla
div      comilla
dtype: object

In [10]:
dict_list = {
    "name":["a","b","c","d"],
    "class":[10,11,5,7],
    "city":["comilla","Dhaka","Chadpur"],
    "div":"comilla"
}

dict_list_series= pd.Series(dict_list)

In [11]:
dict_list_series

name                  [a, b, c, d]
class               [10, 11, 5, 7]
city     [comilla, Dhaka, Chadpur]
div                        comilla
dtype: object

In [12]:
#When index amout is change

In [13]:
d= {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [54]:
pd.Series(d,index = ["a","b","c","d","e"])
#extra "d","e" index added , value is showing NaN
#this will worko only when the series is already made

a    5.0
b    5.0
c    5.0
d    NaN
e    NaN
dtype: float64

In [15]:
#same value with diffrent index

In [16]:
d = pd.Series(5.0)
d

0    5.0
dtype: float64

In [17]:
#lets define index
d = pd.Series(5.0,index = ["a","b","c"])
d

a    5.0
b    5.0
c    5.0
dtype: float64

In [18]:
#series acts as numpy array

In [19]:
index_s = ["a","b","c","d","e"]
s =pd.Series(np.random.randn(5),index=index_s)
s

a    1.081137
b   -0.579854
c   -0.158106
d   -1.201650
e   -0.908313
dtype: float64

In [20]:
print(s[0])
print("-----")
print(s[0:4])
print("-----")
print(s[:4])

1.0811365538374142
-----
a    1.081137
b   -0.579854
c   -0.158106
d   -1.201650
dtype: float64
-----
a    1.081137
b   -0.579854
c   -0.158106
d   -1.201650
dtype: float64

In [21]:
s.mean()

-0.35335732865977343

In [22]:
s[s>s.median()]

a    1.081137
c   -0.158106
dtype: float64

In [23]:
s_array =np.array(s)

In [24]:
s_array

array([ 1.08113655, -0.57985414, -0.15810588, -1.20164983, -0.90831334])

In [25]:
s["a"]+s["b"]

0.5012824102512468

In [26]:
#change values

In [27]:
s["a"]=.007

In [28]:
#check current "rendom index" abalible on series

In [29]:
"f" in s

False

In [30]:
"a" in s

True

In [31]:
s.get('f',np.nan)

nan

In [32]:
print("--------")
print(s[:])
print("--------")
print(s[1:])
print("--------")
print(s[:2])

--------
a    0.007000
b   -0.579854
c   -0.158106
d   -1.201650
e   -0.908313
dtype: float64
--------
b   -0.579854
c   -0.158106
d   -1.201650
e   -0.908313
dtype: float64
--------
a    0.007000
b   -0.579854
dtype: float64

In [33]:
#expect 1st index "a"
s[1:]

b   -0.579854
c   -0.158106
d   -1.201650
e   -0.908313
dtype: float64

In [34]:
#expect last index "e"
s[:-1]

a    0.007000
b   -0.579854
c   -0.158106
d   -1.201650
dtype: float64

In [35]:
# for slicing addition a and e value will be NaN
s[1:]+s[:-1]

a         NaN
b   -1.159708
c   -0.316212
d   -2.403300
e         NaN
dtype: float64

In [36]:
s

a    0.007000
b   -0.579854
c   -0.158106
d   -1.201650
e   -0.908313
dtype: float64

In [48]:
#augest 1 /2021 start page 174

In [49]:
#givae a specific name to series

In [46]:
data_name = pd.Series(["jayed","nahian","sagar","hasib","dipu"],name='person_name')

In [47]:
data_age = pd.Series([22,33,44,55],name= 'person_age')

In [50]:
##rename series name
data_age= data_age.rename("person_ages")

In [52]:
#
data_dict = {
    "one":data_age,
    "two":data_age,
}

In [53]:
data_dict

{'one': 0    22
 1    33
 2    44
 3    55
 Name: person_ages, dtype: int64,
 'two': 0    22
 1    33
 2    44
 3    55
 Name: person_ages, dtype: int64}